body {
    background-color: #000; /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heart {
    font-size: 100px;
    color: red;
    animation: heartbeat 1s infinite;
}

/* Animación de latido */
@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}